* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background: #171512;
}



/* NAV START */
.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.7);
}

.navbar-toggler-icon {
    filter: invert(1);
}



.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px;
    width: 100%;
    padding: 0 40px;
    position: sticky;
    z-index: 2;
    top: 0;
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
    background-color: rgba(70, 69, 69, 0.78);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    padding: 1rem;
    margin-top: 0.5rem;
    z-index: 2;
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}

.nav-child h3 a {
    font-family: "fraunces", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: white;
    letter-spacing: 0.5px;


}

.nav-child a:hover {
    color: #f8f9fa;
    text-decoration: none;
}

.nav-container a {
    color: white;
    font-family: "fraunces", sans-serif;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 10px;
}

.dropdown-menu a {
    color: white;
    font-family: "fraunces", sans-serif;
}

.dropdown-menu a:hover {
    background-color: rgba(255, 191, 103, 0.8);
    color: white;
}

.form-control {
    border-radius: 10px;
    /* background: linear-gradient(to right, #ffbf67ea, #d09138); */
    background-color: transparent;
    border: 2px solid #ffbf67ea;
    font-size: 1rem;
}

.form-control::placeholder {
    color: white;
    font-weight: 500;
}

.form-control:focus {
    outline: none;
    background: linear-gradient(to right, #ffc067c0, #d09138b7);
    box-shadow: 0 0 10px #eaa442e3;
    color: white;
    font-weight: 500;
}

.btn {
    background-color: transparent;
    border: 2px solid #ffc067c0;
    color: white;
    border-radius: 10px;
}

.btn:focus {
    outline: none;
    background-color: #eaa442e3;
    box-shadow: 0 0 10px #eaa442e3;
    color: white;
}



.btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #eaa442e3;
    box-shadow: 0 0 10px #eaa442e3;
    color: white;
}







/* NAV ENDS  */








/* Chart Mode */
.chart-mode {
    max-width: 98%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    font-family: "fraunces", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.mode{
    border: none;
    background: transparent;
    color: white;
    font-size: 1.7rem;

}
.cart{
    border: none;
    background: transparent;
    color: white;
    font-size: 1.7rem;
    position: relative;
}
.cart-count{
    background-color: #eaa442e3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    position: absolute;
    top: -10px;
    right: -10px;
}
